footer.bg-secundary.mt-5.text-white
  div.justify-around(class="md:flex md:flex-row-reverse")
    .ml-8.pt-4
      p(class="hover:text-primary"): i.fab.fa-facebook-f  /platzifood 
      p(class="hover:text-primary"): i.fa.fa-twitter  @platzifood 
      p(class="hover:text-primary"): i.fa.fa-instagram  @platzifood
    ul.ml-8.py-4(class="md:list-disc")
      li Soporte 
      li Acerca de nosotros
      li Registro
      li Aviso de privacidad