include configurations.pug
//- D O C  H T M L 5
doctype html 
html(lang="es")
  include head.pug
  body.min-h-screen.bg-gray-500
    include header.pug
    block contenidos
    include footers.pug
  script(src="https://kit.fontawesome.com/6e8284665f.js" crossorigin="anonymous")