extend components/plantilla.pug
block contenidos
  main 
    .h-56.bg-no-repeat.bg-cover.bg-center(class="md:h-100" style="background-image: url('../assets/imgs/restaurant.webp'); object-fit: cover;")
    .container.mx-auto(class="md:flex md:flex-row")
      +card('../assets/imgs/burger.jpeg', 'imagén de hamburguea','Hamburguesa con Queso','Hamburgueso con queso y aderezo de  chipotle.','MXN   $59.99', '&starf;&starf;&starf;&starf;&star;/36 reseñas')
      +card('../assets/imgs/bebida1.jpeg', 'imagén de bebida','Bebida de Sandía','Bebida suculenta a base se sandía.','MXN $29.99',   '&starf;&starf;&starf;&starf;&star;/36 reseñas')
    .mx-2.my-4
      div 
        div Nombre 
        input.form-control(type="text" name="" placeholder="Nombre")
      div 
        div Email 
        input.form-control(type="email" name="" placeholder="Email")
      div 
        div Comentarios 
        textarea.form-control(name="" cols="30" rows="10")
      div: button.btn Enviar